.callBackForm {
  width: 420px;
  max-width: 100%;
  box-sizing: border-box;
}

.productName {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(20px, 5.2vw, 22px);
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formName,
.formPhone,
.formMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelName,
.labelPhone,
.labelMessage {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  color: #ffffff;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 4.6vw, 16px);
  line-height: 1;
}

.inputName,
.inputPhone,
.inputMessage {
  display: block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 4px 14px;
  border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #ffffff26;
  color: #fff;
  outline: none;
  transition: border-color 0.2s ease;
}

.inputName:hover,
.inputName:active,
.inputPhone:hover,
.inputPhone:active,
.inputMessage:hover,
.inputMessage:active {
  border-color: #fff;
}

.inputMessage {
  height: 71px;
  resize: none;
}

.labelName::placeholder,
.labelPhone::placeholder {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: clamp(14px, 4.6vw, 16px);
  line-height: 1;
  letter-spacing: 0;
  color: #615e5b;
}

.errorName,
.errorPhone,
.errorConsent {
  color: #e00d1d;
  font-size: 12px;
  line-height: 1.2;
}

.checkboxLabel {
  padding: 5px 45px 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  color: #fff;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: clamp(12px, 4.6vw, 14px);
  line-height: 1.2;
  color: #fff;
}

.checkboxInput:checked {
  background-color: transparent;
  border-color: #fff;
}

.checkboxInput {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  border: 0.5px solid #ffffff;
  background-color: #111111;
  cursor: pointer;
  display: grid;
  place-content: center;
  position: relative;
}

.checkboxInput:checked::before {
  content: "✓";
  color: #ffffff;
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: clamp(10px, 3.4vw, 12px);
  width: 16px;
  height: 16px;
}

.recaptchaRow {
  display: flex;
  justify-content: left;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnContact,
.btnContactCancel {
  cursor: pointer;
  width: 100%;
  height: 39px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.8px solid rgb(255, 255, 255);
  border-radius: 7px;
  background-color: transparent;
  font-family: "Cera Stencil PRO", sans-serif;
  font-weight: 900;
  font-size: clamp(14px, 4.6vw, 16px);
  line-height: 1.5;
  letter-spacing: 0;
  color: #ffffff;
  transition: all 300ms ease;
  z-index: 1;
}

.btnContact:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btnContactSpan,
.btnContactSpanCancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  background-color: #e00d1d;
  box-shadow: 0.85px 0.85px 2.56px 0px #ffffff;
  border-radius: 7px;
  text-transform: uppercase;
}

.btnContactSpanCancel {
  background-color: #8e8c95;
}

.btnContact:hover,
.btnContactCancel:hover {
  text-shadow:
    -0.6px -0.6px 0 #000,
    0.6px -0.6px 0 #000,
    -0.6px 0.6px 0 #000,
    0.6px 0.6px 0 #000;
}

.btnContact:active {
  color: #000;
  text-shadow:
    -0.6px -0.6px 0 #e00d1d,
    0.6px -0.6px 0 #e00d1d,
    -0.6px 0.6px 0 #e00d1d,
    0.6px 0.6px 0 #e00d1d;
}

@media (min-width: 1440px) {
  .callBackForm {
    width: 948px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .productName {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: var(--font-roboto), sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.19em;
    margin-bottom: 50px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .labelName,
  .labelPhone,
  .inputMessage {
    font-family: var(--font-roboto), sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
    color: #ffffff;
    width: 100%;
  }

  .inputName,
  .inputPhone,
  .inputMessage {
    width: 100%;
    height: 74px;
    padding: 23px 35px;
    border-radius: 6px;
    background: rgba(251, 251, 251, 0.15);
    border: none;
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #ffffff;
    margin-top: 16px;
    box-sizing: border-box;
  }

  .inputMessage {
    height: 174px;
  }
  .inputName:focus,
  .inputPhone:focus,
  .inputMessage {
    outline: none;
    border: 1px solid rgba(251, 251, 251, 0.15);
  }

  .inputName:focus-visible,
  .inputPhone:focus-visible,
  .inputMessage {
    border-color: #ffffff;
  }

  .inputPhone::placeholder {
    font-family: var(--font-roboto), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0;
    color: #615e5b;
  }

  .errorName,
  .errorPhone,
  .errorConsent {
    font-family: var(--font-inter), sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #e00d1d;
  }

  .checkboxLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-roboto), sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
    color: #ffffff;
    padding-left: 0px;
  }

  .checkboxInput {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    margin-right: 32px;
    border: 1px solid #ffffff;
    background-color: #111111;
    cursor: pointer;
    border-radius: 4px;
    display: grid;
    place-content: center;
    position: relative;
  }

  .checkboxInput:checked::before {
    content: "✓";
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: -3px;
    left: 2px;
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

    .recaptchaRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0 24px;
  }

  .recaptchaRow > div {
    transform: none !important;
    transform-origin: center;
  }

  .buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 27px;
  }

  .btnContact,
  .btnContactCancel {
    cursor: pointer;
    width: 532px;
    height: 80px;
    padding: 10px 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1.7px solid rgb(255, 255, 255);
    border-radius: 7px;
    background-color: transparent;
    font-family: "Cera Stencil PRO", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #ffffff;
    transition: all 300ms ease;
    z-index: 1;
  }

  .btnContact:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .btnContactSpan,
  .btnContactSpanCancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    background-color: #e00d1d;
    box-shadow: 0.85px 0.85px 2.56px 0px #ffffff;
    border-radius: 7px;
    text-transform: uppercase;
  }

  .btnContactSpanCancel {
    background-color: #8e8c95;
  }

  .btnContactCancel {
    width: 389px;
  }
}
