.HeaderCertificates {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
  height: 32px;
  background-color: #ffffff1a;
  backdrop-filter: blur(20px);
}

.containerHeader {
  margin: 0 auto;
  width: 100%;  
  min-height: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navElem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  padding: 0;
  font-family: var(--font-roboto);
  font-size: clamp(12px, 3.33vw, 14px);
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.linkLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  text-decoration: none;
}

.logoGif {
  padding-bottom: 10px;
}

.logoTextHeader {
  position: relative;
  font-family: var(--font-inter), sans-serif;
  color: #0a0000;
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
  line-height: 1.5;
  text-shadow:
    -0.37px -0.37px 0 #ffb53f,
    0.37px -0.37px 0 #ffb53f,
    -0.37px 0.37px 0 #ffb53f,
    0.37px 0.37px 0 #ffb53f;
}

.logoTextHeader::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 26px;
  position: absolute;
  top: -7px;
  left: -16px;
  background-image: url("/img/fire.gif");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
}

  .logoTextHeaderSpan {
    color: #e00d1d;
  }

@media (min-width: 1440px) {
  .HeaderCertificates {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 1440px;
    height: 70px;
    margin: 0 auto;
    background-color: #ffffff1a;
    backdrop-filter: blur(20px);
  }

  .containerHeader {
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    padding: 0px 150px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .linkLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 64px;
    text-decoration: none;
  }

  .logoGif {
    padding-bottom: 10px;
  }

  .logoTextHeader {
    position: relative;
    font-family: var(--font-inter), sans-serif;
    color: #0a0000;
    font-size: 40px;
    font-weight: 700;
    margin-left: 52px;
    line-height: 1.5;
    text-shadow:
      -0.95px -0.95px 0 #ffb53f,
      0.95px -0.95px 0 #ffb53f,
      -0.95px 0.95px 0 #ffb53f,
      0.95px 0.95px 0 #ffb53f;
  }

  .logoTextHeader::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 54px;
    position: absolute;
    top: -6px;
    left: -41px;
    background-image: url("/img/fire.gif");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
  }

  .logoTextHeaderSpan {
    color: #e00d1d;
  }

  .navHeader {
    width: 500px;
  }

  .navElem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0em;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
  }

  .navElem:hover,
  .navElem:active,
  .btnBack:hover,
  .btnBack:active {
    color: #e00d1d;
  }

  .btnBack {
    margin-left: 16px;
  }
}
