@import "normalize.css";

/* Локальні шрифти Cera Stencil */
@font-face {
  font-family: "Cera Stencil PRO";
  src:
    local("Cera Stencil PRO Black"),
    local("Cera-Stencil-PRO-Black"),
    url("/fonts/CeraStencilPRO-Black/CeraStencilPRO-Black.woff2") format("woff2"),
    url("/fonts/CeraStencilPRO-Black/CeraStencilPRO-Black.woff") format("woff"),
    url("/fonts/CeraStencilPRO-Black/CeraStencilPRO-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Stencil PRO Trial Medium";
  src:
    url("/fonts/CeraStencilPRO-Medium/CeraStencilPRO-Medium.woff2") format("woff2"),
    url("/fonts/CeraStencilPRO-Medium/CeraStencilPRO-Medium.woff") format("woff"),
    url("/fonts/CeraStencilPRO-Medium/CeraStencilPRO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Stencil PRO Trial Light";
  src:
    url("/public//fonts/CeraStencilPRO-Light/Cera_Stencil_PRO_Trial_Light.woff") format("woff"),
    url("/public/fonts/CeraStencilPRO-Light/Cera_Stencil_PRO_Trial_Light.ttf") format("truetype"),
    url("/public/fonts/CeraStencilPRO-Light/Cera_Stencil_PRO_Trial_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { background-color: #0A0000; }

ul { list-style: none; margin: 0; padding: 0; }

#main-content { padding-top: 70px; }

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: clip;
}

p {
  margin: 0;
}

img, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}



@media (max-width: 1439.98px) {
  html, body { max-width: 100%; overflow-x: clip; }
  *, *::before, *::after { box-sizing: border-box; }
  img, video, canvas, svg { max-width: 100%; height: auto; display: block; }

  :root { --sbw: calc(100vw - 100%); }
  #main-content { padding-top: 0px; }

  .full-bleed {
    width: calc(100vw - var(--sbw));
    margin-inline: calc(50% - 50vw + var(--sbw) / 2);
  }
}