.instructions {
  padding-top: 32px;
  width: 100%;
  margin: 0 auto;
}

.container {
    margin: 0 auto;
  width: 100%;
  max-width: 420px;
  padding: 0 16px;
}

.title
 {
  color: #fff;
  margin: 0px 0px 21px 0px;
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: clamp(16px, 4.29vw, 18px);
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
}

.instructionsImage{
  width: 288;
  height: auto;
}

.instructionsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}


@media (min-width: 1440px){

.instructions {
  padding: 100px 100px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 150px;
}

.title {
  color: #fff;
  margin: 0px 0px 93px 0px;
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.instructionsImage{
  width: 1191;
  height: auto;
}

.instructionsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 93px;
}
}