.mounting {
    width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.mountingTitle {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Cera Stencil PRO", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(20px, 6.2vw, 28px);
  line-height: 1;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

  .mountingText{
  color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: clamp(16px, 4.5vw, 18px);
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 60px;
  }

.videoWrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  border-radius: clamp(8px, 3vw, 12px);
  overflow: hidden;
}

.videoWrapper iframe,
.videoWrapper video {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: 1440px) {
  .mounting {
    width: 100%;
    padding: 60px 0;
  }

  .container {
    width: 100%;
    max-width: 1440px;
    padding: 0 150px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .mountingTitle {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin: 0 0 60px;
  }

  .mountingText{
  color: #ffffff;
  padding-left: 25px;
  padding-right: 50px;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 80px;
  }

  .videoWrapper {
    width: 100%;
    max-width: 1140px;
    aspect-ratio: 16 / 9;
    height: auto;
    margin: 0 auto;
    border-radius: 40px;
    border: 1px solid #ffffff;
    overflow: hidden;
  }
}


