.row{
  display: none;
}

.rowMobile {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
}


.content {
  color: #fff;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #fff;
  background: #343434;
  border-radius: 6px;
  padding: 9px 20px 9px 8px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.6);
  z-index: 10000;
  min-width: var(--radix-select-trigger-width);
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

  .item {
    color: #fff;
    padding: 14px 0px 9px 8px;
    font-family: var(--font-roboto), sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    outline: none;
  }

.textBold{
  font-weight: 700;
  
}

  .price {
    font-size: 14px;
    font-weight: 300;
  }

@media (min-width: 1440px) {
 .trigger .triggerValue {
    display: flex !important;
  }
.row{
  display: block;
}
.titleAdd{display: none;}
.hiddenMobile{display: none;}

.rowMobile {
  display: none;
}
  .content {
    color: #fff;
    border: 1px solid #fff;
    background: #343434;
    border-radius: 6px;
    padding: 20px 0;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.6);
    z-index: 10000;
    min-width: var(--radix-select-trigger-width);
  }

  .viewport {
    height: 230px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
    background: #343434;
  }

  .item {
    color: #fff;
    padding: 8px 50px 8px 25px;
    font-family: var(--font-roboto), sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
    cursor: pointer;
    outline: none;
  }

  .row {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .title {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    width: 180px;
    text-align: left;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 400;
  }

  @supports selector(:has(*)) {
    .formProduct:has(.errorProduct:not(:empty)) .selectProduct {
      border-color: #e00d1d;
    }
  }
}
